@{
    Layout = null;
}
@model PiDevEsprit.Models.DBO_User

@{
    ViewBag.Title = "SignIn";
}
<html>
<head>
    @Styles.Render("~/Content/css/login-modal.css")
</head>
<body>

    <div id="login-button">
        <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png" />

    </div>
    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png" />
        </span>

        <form id="login-form">
            <p>@ViewBag.Message</p>
            <div class="input-group">


                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>
            <div class="input-group">

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>
            <button type="submit" class="">Log in</button>
            <div id="remember-container">
                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                <span id="remember">Remember me</span>
                <span id="forgot" onclick="location.href='@Url.Action("ForgotPassword","Sign_In")'">Forgot Password</span>

                <span id="register" onclick="location.href='@Url.Action("Resgiter","Sign_In")'">Sign Up</span>

            </div>
            <p id="errorMsg" style="color:red"></p>
                
        </form>
    </div>


    <!-- Forgotten Password Container -->
    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png" />
        </span>

        <form>
            <input type="email" name="email" placeholder="E-mail">
            <a href="#" class="orange-btn">Get new password</a>
        </form>
    </div>



    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
    <script type="text/javascript">
        function ChangeUrl(title, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Title: title, Url: url };
                history.pushState(obj, obj.Title, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        $(document).ready(function () {
            let frm = $('#login-form');
            $('#login-form').submit(function (e) {
                e.preventDefault();
                let dataToPost = $(this).serializeJSON();
                // $('#login-form').load(dataToPost);
                $.post("SignIn", dataToPost, "application/json; charset=utf-8")
                    .done(function (response, status) {

                        if (response.result == 'InvalidLogin') {
                            //show invalid login
                        }
                        else if (response.result == 'Error') {
                            $("#errorMsg").text(response.message)
                        }

                        if (response.result == 'Redirect') {
                            window.location = response.url;
                        }
                    })
                    .fail(function (status, error) {
                        console.log(error);
                        console.log(status);
                        return false;
                    })
            });

            $('#login-button').click(function () {
                $('#login-button').fadeOut("slow", function () {
                    $("#container").fadeIn();
                    TweenMax.from("#container", .4, { scale: 0, ease: Sine.easeInOut });
                    TweenMax.to("#container", .4, { scale: 1, ease: Sine.easeInOut });
                });
            });

            $(".close-btn").click(function () {
                TweenMax.from("#container", .4, { scale: 1, ease: Sine.easeInOut });
                TweenMax.to("#container", .4, { scale: 0, ease: Sine.easeInOut });
                $("#container, #forgotten-container").fadeOut(800, function () {
                    $("#login-button").fadeIn(800);
                });
            });

            /* Forgot Password */
            /* $('#forgotten').click(function () {
                 $("#container").fadeOut(function () {
                     $("#forgotten-container").fadeIn();
                 });
             });*/
        });
    </script>
</body>
</html>