@model PiDevEsprit.Models.ForumSubject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/front.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ForumSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voteCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voteCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
