@model IEnumerable<PiDevEsprit.Models.Bill>

@{
    ViewBag.Title = "Get_All_Bills";
    Layout = "~/Views/back.cshtml";
}

<h2>Get_All_Bills</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
